In [1]:
import pandas as pd

# Define the name of the input CSV file
input_file = '/content/Final Dataset - ESCS.csv'

# Load the CSV file into a pandas dataframe
df = pd.read_csv(input_file)

# Remove any rows that contain a value only in the last column
df = df[df.iloc[:, -1].notnull()]

In [2]:
df = df.dropna(axis=0, how='any')
df = df.reset_index(drop=True)

In [3]:
df

     total_fundedbyinsti  total_admitted_stu  ESCS
0                 2949.0              6272.0  7.91
1                   19.0              2158.0  7.95
2                  563.0              6617.0  4.57
3                 2454.0              5498.0  7.87
4                 2969.0              9604.0  5.10
..                   ...                 ...   ...
118                 16.0              1343.0  0.95
119                  0.0               756.0  0.00
120                  6.0              2965.0  0.52
121                  0.0              3604.0  1.98
122                 82.0              4415.0  2.81

[123 rows x 3 columns]

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error
import numpy as np

In [5]:
# Split the dataframe into training and test sets
train_df, test_df = train_test_split(df, test_size=0.2, random_state=42)

# Select the columns to use for training and testing
X_train = train_df.iloc[:, :-1].values
y_train = train_df.iloc[:, -1].values
X_test = test_df.iloc[:, :-1].values
y_test = test_df.iloc[:, -1].values

In [6]:
import pandas as pd

# Convert the X_test array to a DataFrame
X_test_df = pd.DataFrame(X_test, columns=df.columns[:-1])

# Print the DataFrame
X_test_df

    total_fundedbyinsti  total_admitted_stu
0                 521.0              1386.0
1                1839.0              2961.0
2                  19.0              2158.0
3                 227.0              1859.0
4                2969.0              9604.0
5                 358.0              3974.0
6                   0.0              5536.0
7                   0.0              3065.0
8                1369.0              4272.0
9                  33.0               860.0
10                 55.0              4995.0
11                285.0               752.0
12               1682.0              5233.0
13                615.0              1021.0
14                 36.0              1683.0
15               2924.0              6041.0
16                 37.0              4351.0
17                113.0              5393.0
18                351.0              5294.0
19               2949.0              6272.0
20               1793.0              3614.0
21               1979.0              3953.0
22                381.0              1795.0
23                  0.0              1311.0
24                  0.0              3894.0

In [7]:
y_test

array([ 6.91, 11.2 ,  0.56,  3.76,  5.1 ,  3.28,  0.91,  3.74,  7.03,
        2.19,  0.15,  8.94,  8.15, 11.31,  0.29,  8.89,  3.41,  1.23,
        1.43,  7.91,  9.98,  8.9 ,  3.31,  0.81,  3.52])

In [8]:
# Fit a linear regression model on the training data
reg = LinearRegression()
reg.fit(X_train, y_train)
r2_score = reg.score(X_test, y_test)
# Print the evaluation metrics
print("Linear Regression R^2 Score: {:.2f}".format(r2_score))

# Fit a Ridge regression model on the training data
ridge = Ridge(alpha=1.0)
ridge.fit(X_train, y_train)
r2_score = ridge.score(X_test, y_test)
print("Ridge Regression R^2 Score: {:.2f}".format(r2_score))

# Fit a Lasso regression model on the training data
lasso = Lasso(alpha=1.0)
lasso.fit(X_train, y_train)
r2_score = lasso.score(X_test, y_test)
print("Lasso Regression R^2 Score: {:.2f}".format(r2_score))

# Fit an Elastic Net regression model on the training data
enet = ElasticNet(alpha=1.0, l1_ratio=0.5)
enet.fit(X_train, y_train)
r2_score = enet.score(X_test, y_test)
print("Elastic Net Regression R^2 Score: {:.2f}".format(r2_score))

# Fit a decision tree regression model on the training data
dt = DecisionTreeRegressor(random_state=42)
dt.fit(X_train, y_train)
dt_r2_score = dt.score(X_test, y_test)
print("Decision Tree Regression R^2 Score: {:.2f}".format(dt_r2_score))

# Fit a random forest regression model on the training data
rf = RandomForestRegressor(n_estimators=5, random_state=42)
rf.fit(X_train, y_train)
rf_r2_score = rf.score(X_test, y_test)
# Use the model to make predictions on the test data
y_pred = rf.predict(X_test)

# Calculate the RMSE and MAE
rmse = mean_squared_error(y_test, y_pred, squared=False)
mae = mean_absolute_error(y_test, y_pred)

# Print the results
print("Random Forest Regressor:")
print("RMSE: {:.2f}".format(rmse))
print("MAE: {:.2f}".format(mae))
print("Random Forest Regression R^2 Score: {:.2f}".format(rf_r2_score))

Linear Regression R^2 Score: 0.50
Ridge Regression R^2 Score: 0.50
Lasso Regression R^2 Score: 0.50
Elastic Net Regression R^2 Score: 0.50
Decision Tree Regression R^2 Score: 0.58
Random Forest Regressor:
RMSE: 1.74
MAE: 1.47
Random Forest Regression R^2 Score: 0.77

In [10]:
# # Get the column names of the input variables from the original DataFrame
# input_cols = df.columns[:-1]

# # Prompt the user to enter input values for each column
# input_values = []
# for col in input_cols:
#     value = float(input("Enter value for {}: ".format(col)))
#     input_values.append(value)

# # Reshape the input values into a 2D array
# input_values = np.array(input_values).reshape(1, -1)

# # Use the trained model to make a prediction on the input values
# prediction = rf.predict(input_values)

# # Print the predicted value
# print("The predicted value is: {:.2f}".format(prediction[0]))

Enter value for total_fundedbyinsti: 1839
Enter value for total_admitted_stu: 2961
The predicted value is: 8.39

In [ ]:
# import matplotlib.pyplot as plt

# # Use the trained model to make a prediction on the test input values
# y_pred = rf.predict(X_test)

# # Create a scatter plot of the predicted vs actual output values
# plt.scatter(y_test, y_pred, alpha=0.5)
# plt.xlabel("Actual Output Values")
# plt.ylabel("Predicted Output Values")
# plt.title("Random Forest Regressor Model Fit")
# plt.show()