In [1]:
import pandas as pd

# Define the name of the input CSV file
input_file = '/content/Final Dataset - RD.csv'

# Load the CSV file into a pandas dataframe
df = pd.read_csv(input_file)

# Remove any rows that contain a value only in the last column
df = df[df.iloc[:, -1].notnull()]

In [2]:
df = df.dropna(axis=0, how='any')
df = df.reset_index(drop=True)

In [3]:
df

     total_outstate  total_outco  total_admitted_stu     RD
0            5190.0         54.0              6272.0  21.60
1             786.0        105.0              2158.0  23.70
2            4719.0         81.0              6617.0  18.74
3            4599.0          4.0              5498.0  21.64
4            8181.0         32.0              9604.0  21.09
..              ...          ...                 ...    ...
118           682.0        192.0              1343.0  10.92
119           460.0         27.0               756.0  13.12
120            47.0          0.0              2965.0   0.41
121           962.0        145.0              3604.0   7.89
122           935.0          0.0              4415.0   4.94

[123 rows x 4 columns]

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error
import numpy as np

In [5]:
# Split the dataframe into training and test sets
train_df, test_df = train_test_split(df, test_size=0.16, random_state=42)

# Select the columns to use for training and testing
X_train = train_df.iloc[:, :-1].values
y_train = train_df.iloc[:, -1].values
X_test = test_df.iloc[:, :-1].values
y_test = test_df.iloc[:, -1].values

In [6]:
import pandas as pd

# Convert the X_test array to a DataFrame
X_test_df = pd.DataFrame(X_test, columns=df.columns[:-1])

# Print the DataFrame
X_test_df

    total_outstate  total_outco  total_admitted_stu
0           1339.0          2.0              1386.0
1           1524.0          3.0              2961.0
2            786.0        105.0              2158.0
3            321.0         46.0              1859.0
4           8181.0         32.0              9604.0
5           2036.0        223.0              3974.0
6           1420.0         21.0              5536.0
7             27.0          0.0              3065.0
8           2264.0         14.0              4272.0
9            734.0         19.0               860.0
10          4159.0         86.0              4995.0
11           367.0          0.0               752.0
12          1385.0         21.0              5233.0
13           649.0         68.0              1021.0
14          1004.0         36.0              1683.0
15          4368.0          5.0              6041.0
16           109.0          0.0              4351.0
17           943.0        162.0              5393.0
18           891.0         20.0              5294.0
19          5190.0         54.0              6272.0

In [7]:
y_test

array([21.11, 12.81,  9.94,  4.93, 21.09, 12.64,  6.72,  0.21, 11.77,
       21.34, 19.34,  2.  ,  6.15, 17.92, 11.52, 17.31,  0.59,  5.1 ,
        4.17, 21.6 ])

In [33]:
# Fit a linear regression model on the training data
reg = LinearRegression()
reg.fit(X_train, y_train)
r2_score = reg.score(X_test, y_test)
# Print the evaluation metrics
print("Linear Regression R^2 Score: {:.2f}".format(r2_score))

# Fit a Ridge regression model on the training data
ridge = Ridge(alpha=1.0)
ridge.fit(X_train, y_train)
r2_score = ridge.score(X_test, y_test)
print("Ridge Regression R^2 Score: {:.2f}".format(r2_score))

# Fit a Lasso regression model on the training data
lasso = Lasso(alpha=1.0)
lasso.fit(X_train, y_train)
r2_score = lasso.score(X_test, y_test)
print("Lasso Regression R^2 Score: {:.2f}".format(r2_score))

# Fit an Elastic Net regression model on the training data
enet = ElasticNet(alpha=1.0, l1_ratio=0.5)
enet.fit(X_train, y_train)
r2_score = enet.score(X_test, y_test)
print("Elastic Net Regression R^2 Score: {:.2f}".format(r2_score))

# Fit a decision tree regression model on the training data
dt = DecisionTreeRegressor(random_state=42)
dt.fit(X_train, y_train)
dt_r2_score = dt.score(X_test, y_test)
print("Decision Tree Regression R^2 Score: {:.2f}".format(dt_r2_score))

# Fit a random forest regression model on the training data
rf = RandomForestRegressor(n_estimators=75, random_state=42)
rf.fit(X_train, y_train)
rf_r2_score = rf.score(X_test, y_test)
# Use the model to make predictions on the test data
y_pred = rf.predict(X_test)

# Calculate the RMSE and MAE
rmse = mean_squared_error(y_test, y_pred, squared=False)
mae = mean_absolute_error(y_test, y_pred)

# Print the results
print("Random Forest Regressor:")
print("RMSE: {:.2f}".format(rmse))
print("MAE: {:.2f}".format(mae))
print("Random Forest Regression R^2 Score: {:.2f}".format(rf_r2_score))

Linear Regression R^2 Score: 0.67
Ridge Regression R^2 Score: 0.67
Lasso Regression R^2 Score: 0.67
Elastic Net Regression R^2 Score: 0.67
Decision Tree Regression R^2 Score: 0.51
Random Forest Regressor:
RMSE: 3.54
MAE: 2.55
Random Forest Regression R^2 Score: 0.76

In [34]:
# # Get the column names of the input variables from the original DataFrame
# input_cols = df.columns[:-1]

# # Prompt the user to enter input values for each column
# input_values = []
# for col in input_cols:
#     value = float(input("Enter value for {}: ".format(col)))
#     input_values.append(value)

# # Reshape the input values into a 2D array
# input_values = np.array(input_values).reshape(1, -1)

# # Use the trained model to make a prediction on the input values
# prediction = rf.predict(input_values)

# # Print the predicted value
# print("The predicted value is: {:.2f}".format(prediction[0]))

Enter value for total_outstate: 5190
Enter value for total_outco: 54
Enter value for total_admitted_stu: 6272
The predicted value is: 18.89

In [ ]:
# import matplotlib.pyplot as plt

# # Use the trained model to make a prediction on the test input values
# y_pred = rf.predict(X_test)

# # Create a scatter plot of the predicted vs actual output values
# plt.scatter(y_test, y_pred, alpha=0.5)
# plt.xlabel("Actual Output Values")
# plt.ylabel("Predicted Output Values")
# plt.title("Random Forest Regressor Model Fit")
# plt.show()