In [1]:
import pandas as pd

# Define the name of the input CSV file
input_file = '/content/Final Dataset - SS.csv'

# Load the CSV file into a pandas dataframe
df = pd.read_csv(input_file)

# Remove any rows that contain a value only in the last column
df = df[df.iloc[:, -1].notnull()]

In [2]:
df = df.dropna(axis=0, how='any')
df = df.reset_index(drop=True)

In [3]:
df

,total_sanc_intake_y1,total_sanc_intake_y2,total_sanc_intake_y3,total_sanc_intake_y4,total_sanc_intake_y5,total_sanc_intake_y6,total_admitted_stu,phd_full_stu,phd_part_stu,SS
0,1799.0,1599.0,1091.0,838.0,372.0,0.0,6272.0,2168.0,36.0,18.50
1,774.0,724.0,426.0,382.0,0.0,0.0,2158.0,242.0,0.0,18.50
2,2086.0,1741.0,897.0,871.0,154.0,0.0,6617.0,2069.0,342.0,18.50
3,1837.0,1817.0,910.0,827.0,0.0,0.0,5498.0,1936.0,29.0,18.50
4,3988.0,2775.0,1355.0,1301.0,645.0,0.0,9604.0,2408.0,0.0,19.31
...,...,...,...,...,...,...,...,...,...,...
117,414.0,555.0,540.0,540.0,0.0,0.0,1343.0,113.0,148.0,7.90
118,257.0,284.0,209.0,207.0,0.0,0.0,756.0,49.0,12.0,5.24
119,714.0,684.0,630.0,630.0,0.0,0.0,2965.0,30.0,0.0,9.50
120,876.0,876.0,720.0,660.0,0.0,0.0,3604.0,3.0,46.0,10.50
121,1338.0,1338.0,1200.0,1020.0,0.0,0.0,4415.0,1.0,2.0,10.82

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error
import numpy as np

In [5]:
# Split the dataframe into training and test sets
train_df, test_df = train_test_split(df, test_size=0.16, random_state=42)

# Select the columns to use for training and testing
X_train = train_df.iloc[:, :-1].values
y_train = train_df.iloc[:, -1].values
X_test = test_df.iloc[:, :-1].values
y_test = test_df.iloc[:, -1].values

In [6]:
import pandas as pd

# Convert the X_test array to a DataFrame
X_test_df = pd.DataFrame(X_test, columns=df.columns[:-1])

# Print the DataFrame
X_test_df

,total_sanc_intake_y1,total_sanc_intake_y2,total_sanc_intake_y3,total_sanc_intake_y4,total_sanc_intake_y5,total_sanc_intake_y6,total_admitted_stu,phd_full_stu,phd_part_stu
0,676.0,616.0,200.0,150.0,0.0,0.0,1386.0,286.0,19.0
1,288.0,220.0,163.0,120.0,0.0,0.0,670.0,89.0,12.0
2,1599.0,1479.0,828.0,817.0,0.0,0.0,4396.0,300.0,79.0
3,615.0,775.0,720.0,800.0,310.0,0.0,3096.0,95.0,0.0
4,3988.0,2775.0,1355.0,1301.0,645.0,0.0,9604.0,2408.0,0.0
5,96.0,96.0,60.0,60.0,0.0,0.0,296.0,43.0,0.0
6,1183.0,1013.0,657.0,601.0,0.0,0.0,3186.0,198.0,131.0
7,378.0,318.0,300.0,300.0,0.0,0.0,1311.0,0.0,0.0
8,1669.0,1534.0,954.0,886.0,0.0,0.0,4938.0,449.0,122.0
9,2162.0,1502.0,942.0,956.0,0.0,0.0,5393.0,214.0,0.0
10,2070.0,2012.0,1244.0,1244.0,0.0,0.0,6056.0,116.0,1849.0
11,714.0,684.0,630.0,630.0,0.0,0.0,2965.0,30.0,0.0
12,1786.0,1786.0,1233.0,1143.0,0.0,0.0,5233.0,1129.0,0.0
13,275.0,275.0,240.0,240.0,0.0,0.0,1021.0,87.0,39.0
14,1326.0,1326.0,1080.0,1020.0,0.0,0.0,4075.0,34.0,173.0
15,2118.0,1880.0,1167.0,1090.0,275.0,0.0,6041.0,1152.0,6.0
16,1275.0,1284.0,1072.0,1072.0,36.0,0.0,4351.0,411.0,81.0
17,300.0,300.0,120.0,120.0,120.0,0.0,1025.0,41.0,45.0
18,1345.0,1590.0,1620.0,1080.0,0.0,0.0,5294.0,64.0,179.0
19,1799.0,1599.0,1091.0,838.0,372.0,0.0,6272.0,2168.0,36.0

In [7]:
y_test

array([ 9.33,  6.08, 14.17, 11.1 , 19.31, 12.68, 11.69,  7.5 , 16.22,
       15.09, 14.44,  9.5 , 15.96,  8.43, 10.79, 17.49, 14.02,  8.  ,
       13.68, 18.5 ])

In [8]:
# Fit a linear regression model on the training data
reg = LinearRegression()
reg.fit(X_train, y_train)
r2_score = reg.score(X_test, y_test)
# Print the evaluation metrics
print("Linear Regression R^2 Score: {:.2f}".format(r2_score))

# Fit a Ridge regression model on the training data
ridge = Ridge(alpha=1.0)
ridge.fit(X_train, y_train)
r2_score = ridge.score(X_test, y_test)
print("Ridge Regression R^2 Score: {:.2f}".format(r2_score))

# Fit a Lasso regression model on the training data
lasso = Lasso(alpha=1.0)
lasso.fit(X_train, y_train)
r2_score = lasso.score(X_test, y_test)
print("Lasso Regression R^2 Score: {:.2f}".format(r2_score))

# Fit an Elastic Net regression model on the training data
enet = ElasticNet(alpha=1.0, l1_ratio=0.5)
enet.fit(X_train, y_train)
r2_score = enet.score(X_test, y_test)
print("Elastic Net Regression R^2 Score: {:.2f}".format(r2_score))

# Fit a decision tree regression model on the training data
dt = DecisionTreeRegressor(random_state=42)
dt.fit(X_train, y_train)
dt_r2_score = dt.score(X_test, y_test)
print("Decision Tree Regression R^2 Score: {:.2f}".format(dt_r2_score))

# Fit a random forest regression model on the training data
rf = RandomForestRegressor(n_estimators=50, random_state=42)
rf.fit(X_train, y_train)
rf_r2_score = rf.score(X_test, y_test)
# Use the model to make predictions on the test data
y_pred = rf.predict(X_test)

# Calculate the RMSE and MAE
rmse = mean_squared_error(y_test, y_pred, squared=False)
mae = mean_absolute_error(y_test, y_pred)

# Print the results
print("Random Forest Regressor:")
print("RMSE: {:.2f}".format(rmse))
print("MAE: {:.2f}".format(mae))
print("Random Forest Regression R^2 Score: {:.2f}".format(rf_r2_score))

Linear Regression R^2 Score: 0.67
Ridge Regression R^2 Score: 0.67
Lasso Regression R^2 Score: 0.66
Elastic Net Regression R^2 Score: 0.66
Decision Tree Regression R^2 Score: 0.41
Random Forest Regressor:
RMSE: 1.79
MAE: 1.16
Random Forest Regression R^2 Score: 0.77

In [9]:
# # Get the column names of the input variables from the original DataFrame
# input_cols = df.columns[:-1]

# # Prompt the user to enter input values for each column
# input_values = []
# for col in input_cols:
#     value = float(input("Enter value for {}: ".format(col)))
#     input_values.append(value)

# # Reshape the input values into a 2D array
# input_values = np.array(input_values).reshape(1, -1)

# # Use the trained model to make a prediction on the input values
# prediction = rf.predict(input_values)

# # Print the predicted value
# print("The predicted value is: {:.2f}".format(prediction[0]))

In [10]:
# import matplotlib.pyplot as plt

# # Use the trained model to make a prediction on the test input values
# y_pred = rf.predict(X_test)

# # Create a scatter plot of the predicted vs actual output values
# plt.scatter(y_test, y_pred, alpha=0.5)
# plt.xlabel("Actual Output Values")
# plt.ylabel("Predicted Output Values")
# plt.title("Random Forest Regressor Model Fit")
# plt.show()